body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: burlywood;
}

.logo-div {
  display: flex;
  align-items: center;
  color: gold;
  font-family: fantasy;
}

header {
  background-color: brown;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header h1 {
  color: gold;
}

header img {
  width: 80px;
}

header div {
  display: flex;
  gap: 20px;
}

.header-btn {
  background-color: #ff9f1c;
  padding: 10px 30px;
  border: 2px solid;
  border-radius: 10px;
  font-size: 14px;
}
#mobile-return-button {
  display: none;
}
.header-btn:hover {
  background-color: #d68008;
}

.game-manual {
  padding: 1.5rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.game-manual div {
  background-color: bisque;
  color: black;
  padding: 0 0 15px 0;
  border: 2px solid brown;
  border-radius: 10px;
  font-size: 19px;
}

.game-manual div h2 {
  text-align: center;
  padding: 5px;
  background-color: brown;
  color: white;
  margin: 0;
  display: block;
}

.game-manual div p {
  padding: 0 20px 20px 20px;
  line-height: 1.5;
}

.game-manual div li {
  line-height: 1.5;
}

#how-to-play {
  grid-row: span 2;
}

@media (max-width: 500px) {
  .game-manual {
    grid-template-columns: 1fr;
  }
  .header-btn {
    display: none;
  }
  #mobile-return-button {
    display: block;
    background-color: #ff9f1c;
    padding: 10px 30px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 14px;
  }
}
