body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: bisque;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: brown;
}

header img {
  width: 80px;
}

header div {
  display: flex;
  gap: 20px;
}

.header-btn {
  background-color: #ff9f1c;
  padding: 10px 30px;
  border: 2px solid;
  border-radius: 10px;
}

.header-btn:hover {
  background-color: #d68008;
}

/* The game styles */
main {
  margin: auto 150px;
}

.score-board {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 20px;
}

.score-board h1 {
  color: brown;
  font-family: "Wendy One";
  font-size: 50px;
}

.game-ui {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 10px;
}

.game-ui button {
  border: none;
  background-color: transparent;
  font-size: 120px;
  height: 100px;
  border-radius: 50px;
}

.bigger {
  transform: scale(1.1);
}
